serverless.yml
org: gabrielfrisancho
service: pardos-restaurante

custom:
  pythonRequirements:
    pythonBin: python3
    dockerizePip: false
    useDownloadCache: false
    useStaticCache: false
  ordersTable: pardos-restaurante-${sls:stage}-orders
  stepsTable: pardos-restaurante-${sls:stage}-steps

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  timeout: 29
  iam:
    role: arn:aws:iam::213965374161:role/LabRole
  environment:
    ORDERS_TABLE: ${self:custom.ordersTable}
    STEPS_TABLE: ${self:custom.stepsTable}
    EVENT_BUS_NAME: pardos-restaurante-${sls:stage}-event-bus

functions:
  iniciarOrquestacion:
    handler: orquestador/handler.iniciar_orquestacion
    events:
      - eventBridge:
          eventBus: ${self:provider.environment.EVENT_BUS_NAME}
          pattern:
            source:
              - cliente-ms
            detail-type:
              - OrderCreated

  cookingLambda:
    handler: etapas/handler.cooking_stage

  packagingLambda:
    handler: etapas/handler.packaging_stage

  deliveryLambda:
    handler: etapas/handler.delivery_stage

  deliveredLambda:
    handler: etapas/handler.delivered_stage

  iniciarEtapa:
    handler: etapas/handler.iniciar_etapa
    events:
      - http:
          path: /etapas/iniciar
          method: post
          cors: true

  completarEtapa:
    handler: etapas/handler.completar_etapa
    events:
      - http:
          path: /etapas/completar
          method: post
          cors: true

  obtenerResumen:
    handler: dashboard/handler.obtener_resumen
    events:
      - http:
          path: /dashboard/resumen
          method: get
          cors: true

  obtenerMetricas:
    handler: dashboard/handler.obtener_metricas
    events:
      - http:
          path: /dashboard/metricas
          method: get
          cors: true

  obtenerPedidos:
    handler: dashboard/handler.obtener_pedidos
    events:
      - http:
          path: /dashboard/pedidos
          method: get
          cors: true

resources:
  Resources:
    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.ordersTable}
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    StepsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.stepsTable}
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    EventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: ${self:provider.environment.EVENT_BUS_NAME}

    OrderWorkflow:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: PardosOrderWorkflow
        RoleArn: arn:aws:iam::213965374161:role/LabRole
        DefinitionString: !Sub |
          {
            "Comment": "Flujo de trabajo de pedidos Pardos Chicken",
            "StartAt": "Cooking",
            "States": {
              "Cooking": {
                "Type": "Task",
                "Resource": "${CookingLambda.Arn}",
                "Next": "Packaging",
                "TimeoutSeconds": 1800,
                "ResultPath": "$.cookingResult"
              },
              "Packaging": {
                "Type": "Task",
                "Resource": "${PackagingLambda.Arn}",
                "Next": "Delivery",
                "TimeoutSeconds": 900,
                "ResultPath": "$.packagingResult"
              },
              "Delivery": {
                "Type": "Task",
                "Resource": "${DeliveryLambda.Arn}",
                "Next": "Delivered",
                "TimeoutSeconds": 3600,
                "ResultPath": "$.deliveryResult"
              },
              "Delivered": {
                "Type": "Task",
                "Resource": "${DeliveredLambda.Arn}",
                "End": true,
                "ResultPath": "$.deliveredResult"
              }
            }
          }
